#root {
  max-width: 1500px;
  margin: auto;
  text-align: center;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav li {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px;
}
